# Criticial dependencies for XTherma Home Assistant integration
# See also CI workflow for testing version matrices

# Home Assistant core dependencies
homeassistant==2026.2.3

# need to specify this or HA won't start up correctly
bleak==3.0.2
