# Criticial dependencies for XTherma Home Assistant integration
# See also CI workflow for testing version matrices

# Home Assistant core dependencies
homeassistant==2025.11.1

# need to specify this or HA won't start up correctly
bleak==1.1.1